@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: "Ubuntu", sans, sans-serif;
    margin: 0;
    padding: 0;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav.active {
    background-color: #7F0000;
}